:root {
	font-size: 62.5%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.9;
	background: #f4f4f4;
}
img {
	width: 100%;
	object-fit: cover;
}

li {
	list-style: none;
}

a:link,
a:visited {
	text-decoration: none;
	color: white;
	letter-spacing: 0.2rem;
}

$color-white: white;
